Source: prooftree
Section: x11
Priority: optional
Maintainer: Hendrik Tews <hendrik@askra.de>
Build-Depends:
 debhelper (>= 9.0.0),
 dh-ocaml (>= 0.9~),
 ocaml-native-compilers,
 liblablgtk2-ocaml-dev
Standards-Version: 3.9.3
Homepage: http://askra.de/software/prooftree

Package: prooftree
Architecture: any
Depends:
 proofgeneral,
 ${shlibs:Depends},
 ${misc:Depends}
Suggests:
 coq
Description: proof-tree visualization for Proof General
 Prooftree draws proof trees during interactive proof development
 with Proof General. One can inspect goals and proof commands
 and check where existential variables were introduced and
 instantiated. Currently, Prooftree does only work for Coq.
 .
 To make use of this package you need Coq version 8.4beta or better.
