Source: prooftree
Section: x11
Priority: optional
Maintainer: Hendrik Tews <hendrik@askra.de>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev, ocaml-native-compilers, liblablgtk2-ocaml-dev
Standards-Version: 3.9.2
Homepage: http://askra.de/software/prooftree

Package: prooftree
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: proof-tree display for Proof General
 Prooftree visualizes proof trees during proof development with Proof
 General. Currently, it only works for Coq. 
 .
 To make use of this package you need Coq version 8.4 and Proof
 General version 4.2.
